<div class="container">
  <h2>Archive</h2>
  <div class="tasks">
    @for (task of tasks; track task.id) {
        <div class="task">
            <div class="title">{{task.title}}</div>
            <div class="deadline">
                @if (task.deadline) {
                    <span>{{ task.deadline }}</span>
                }
            </div>
          <div class="action">
            <button mat-icon-button (click)="delete(task)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
    }
  </div>
</div>
